// ?-----------custome scroll ba---------
#messageSection::-webkit-scrollbar {
  width: 12px;
  background-color: #eff1f5;
}

#messageSection::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

#messageSection::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: lightsteelblue;
  border: 2px solid #eff1f5;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #eff1f5;
}

body::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: lightsteelblue;
  border: 2px solid #eff1f5;
}
