@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
#welcomeHome {
  nav .circularProfiler {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.5rem solid lightgray;
    background-image: url(../img/accounts/minionavatar.jpg);
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
  }
  nav .circularProfiler span {
    float: right;
    line-height: 5rem;
    font-size: 2.8rem;
    cursor: pointer;
  }
  nav .tooltip {
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #242526;
    transform: rotate(45deg);
    display: none;
  }
  nav .tooltip.show {
    display: block;
  }
  nav .wrapper {
    position: absolute;
    top: 65px;
    display: flex;
    width: 400px;
    overflow: hidden;
    border-radius: 5px;
    display: none;
    transition: all 0.3s ease;
    //?dropdown box bg
    background-image: linear-gradient(0deg, #301cab, #4448d3 52%, #5774fa);

    z-index: 100;
    top: 7.5rem;
    right: 0;

    background-image: linear-gradient(0deg, #301cab, #4448d3 52%, #5774fa);

    @include media('<=495px') {
      transform: scale(0.8);

      position: absolute;
      top: 5rem;
      right: -4rem;
    }
    @include media('<=429px') {
      top: 5rem;
    }
    @include media('<=417px') {
      transform: scale(0.7) !important;

      position: absolute;
      top: 6rem;
      right: -6rem;
    }
    @include media('>=789px') {
    }
  }
  nav .wrapper.show {
    display: block;
    display: flex;
  }
  .wrapper ul {
    width: 400px;

    list-style: none;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  .wrapper ul li {
    line-height: 5.5rem;
  }
  .wrapper ul li a {
    position: relative;
    //?color of lis inside dropdown box
    color: white;
    font-size: 1.8rem;

    font-weight: 500;
    padding: 0 1rem;
    display: flex;
    border-radius: 0.8rem;
    align-items: center;
    text-decoration: none;
  }
  .wrapper ul li:hover a {
    //?li hover state
    background: white;
    color: black;
  }

  .wrapper ul li:hover a > .icon {
    background: white;
  }
  .wrapper ul li:hover a > .icon span {
    color: rgb(84, 109, 244);
  }

  ul li a .icon {
    height: 4rem;
    width: 4rem;
    margin-right: 1.3rem;
    //?icon outer color
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
  }
  ul li a .icon span {
    line-height: 4rem;
    font-size: 2rem;
    //?icon inner color
    color: white;
  }
  ul li a i {
    position: absolute;
    right: 1rem;
    font-size: 2.5rem;
    pointer-events: none;
  }
  .wrapper ul.setting-drop,
  .wrapper ul.help-drop {
    display: none;
  }
  .wrapper .arrow {
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
  }
  .wrapper .arrow span {
    margin-right: 1.5rem;
  }
}
#accountRepresentativeContainer {
  border-radius: 5rem;
  padding: 0.5rem;
  display: flex;
  background-color: #5774fa;
  align-items: center;
}
#userAccountName {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  color: white;
  font-size: 1.7rem;
}
