.carousel {
  margin-top: 3rem;
  width: 117.8rem;
  border-radius: 2rem;
  padding: 1rem 1rem;
  background: $royal_light_sky_peace;
  @include media('<=1150px') {
    width: 90%;
  }
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;

  background: rgba(221, 233, 255, 0.35);
  box-shadow: 0 8px 32px 0 $royal_shadow;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.carousel-cell {
  h1 {
    margin-top: 4rem;
  }

  padding-top: 1rem;
  padding-left: 1rem;
  position: relative;
  .mainCarouselIcons {
    height: 5.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .subCarouselIcons {
    height: 3rem;
  }
  width: 32.5%;
  @include media('<=788px') {
    width: 80.5%;
  }
  height: 20rem;
  margin-right: 1rem;
  background: $primary_white;
  color: $primary_white;

  background-repeat: no-repeat;
  background-position-x: 100%;
  background-image: url(../img/blob/cardBgSlope.png);
  border-radius: 0.5rem;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 20rem;
  font-size: 8rem;
  color: $primary_white;
}

.carousel {
  #firstCard {
    background-color: rgb(112, 128, 250);
  }
  #secondCard {
    background-color: rgb(79, 220, 149);
  }
  #thirdCard {
    background-color: rgb(255, 152, 152);
  }
  #fourthCard {
    background-color: rgb(60, 187, 218);
  }
  #fifthCard {
    background-color: lightskyblue;
  }
}
