#modal-btn {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../img/btns/videoBtn.png);
  outline: none;
  border: none;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.2);
  }
  margin-left: 2rem;

  margin-top: 5.2rem !important;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}
