.partnerCard {
  @include media('<=900px') {
    max-width: 30rem;
    min-width: 02rem;
    height: 3.5rem;
  }
  max-width: 100%;
  min-width: 22rem;
  padding: 0.5rem 2rem;
  height: 6.5rem;
  background: $primary_white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(231, 229, 255, 1);
  -moz-box-shadow: 0px 0px 21px 1px rgba(231, 229, 255, 1);
  box-shadow: 0px 0px 21px 1px rgba(231, 229, 255, 1);
  margin: 1rem;
  @include media('<=1150px') {
    margin: 0.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
  &:hover img {
  }
  img {
    height: 60%;
  }
}
.partnerCard {
  justify-content: center;
  display: flex;
  align-items: center;
}
